[run]
parallel = True
source = dpaste
branch = True
omit =
    dpaste/migrations/*
    dpaste/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__

[html]
directory = /tmp/coverage_html_report
