include README.rst
include LICENSE
include CHANGELOG.rst
include runtests.py
include tox.ini
recursive-include dpaste/templates *
recursive-include dpaste/static *
recursive-include docs *
recursive-exclude docs/_build *
