include README.rst
include LICENSE
include CHANGELOG.rst
exclude dpaste/settings/local.py
recursive-include dpaste/templates *
recursive-include dpaste/static *
recursive-include docs *
recursive-exclude docs/_build *
