[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

sphinx-rtd-theme = "*"
sphinx = "*"
"e1839a8" = {path = ".", extras = ["standalone"], editable = true}


[packages]

pylint = "*"
