# -----------------------------------------------------------------------------
# These requirements are only required for local testing or development.
# To use dpaste it's enough to install the package, all, and only the
# necessary dependencies are installed automatically.
# -----------------------------------------------------------------------------

# Project dependencies
django==1.9.*
django-mptt
django-markup
pygments
requests

# Testing
coverage
tox
docutils
sphinx
sphinx_rtd_theme

# Deployment specific
django-redis==3.8.0
gunicorn==19.1.1
south==1.0.2

