{% load i18n %}
<form method="post" action="." class="snippetform">
{% csrf_token %}
<ol>
    {% for field in snippet_form %}
    <li>
        {{ field.errors }}
        {{ field.label_tag }}
        {{ field }}
        {% if request.session.userprefs.display_all_lexer %}
        {% ifequal field.name "lexer" %}
            <input type="button" value="{% trans "Guess lexer" %}" id="guess_lexer_btn"/>
        {% endifequal %}
        {% endif %}
    </li>
    {% endfor %}
    <li class="submit"><input type="submit" value="{% trans "Paste it" %}"/></li>
</ol>
</form>