{% extends "dpaste/base.html" %}
{% load i18n %}

{% block title %}{% trans "New snippet" %}{% endblock %}
{% block headline %}<h1>{% trans "Paste a new snippet" %}</h1>{% endblock %}

{% block content %}
    <h2>{% trans "New snippet" %}</h2>
    {% include "dpaste/snippet_form.html" %}
{% endblock %}


{% block sidebar %}
    <h2>{% trans "DPASTE_HOMEPAGE_TITLE" %}</h2>
    <p>{% trans "DPASTE_HOMEPAGE_DESCRIPTION" %}</p>
{% endblock %}


{% block script_footer %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
    {% if request.session.userprefs.display_all_lexer %}
    $('#guess_lexer_btn').click(function(){
        $.getJSON('{% url snippet_guess_lexer %}',
            {'codestring': $('#id_content').val()},
            function(data){
                if(data.lexer == "unknown"){
                    $('#guess_lexer_btn').css('color', 'red');
                }else{
                    $('#id_lexer').val(data.lexer);
                    $('#guess_lexer_btn').css('color', 'inherit');
                }
            });
    });
    {% endif %}
});
</script>
{% endblock %}
