{% extends "dpaste/base.html" %}
{% load i18n %}

{% block headline %}
    <h1>{% trans "User Settings" %}</h1>
{% endblock %}

{% block content %}
    {% if settings_saved %}
    <div class="success">
        {% trans "USER_PREFS_SAVED_SUCCESSFULLY" %}
    </div>
    {% endif %}

    <h2>{% trans "User Settings" %}</h2>

    <form class="snippetform" method="post" action=".">
    {% csrf_token %}
    <ol>
        {{ settings_form.as_ul }}
        <li class="submit"><input type="submit" value="{% trans "Save settings" %}"/></li>
    </ol>
    </form>

    <div class="hint">
        {% trans "DATA_STORED_IN_A_COOKIE_HINT" %}
    </div>
{% endblock %}
