from dpaste.settings.base import *

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'dpaste.db',
    }
}

SECRET_KEY = 'changeme'

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

INSTALLED_APPS += ('sslserver',)

# Optionally run the runserver as `manage.py runsslserver` to locally
# test correct cookie and csp behavior.
if not 'runsslserver' in sys.argv:
    SESSION_COOKIE_SECURE = False
    CSRF_COOKIE_SECURE = False

#
# Uncomment the block below to use a custom AppConfig.
#

# from dpaste.apps import dpasteAppConfig
#
# class MyBetterDpasteAppConfig(dpasteAppConfig):
#     SLUG_LENGTH = 8
#     LEXER_DEFAULT = 'js'
#
# INSTALLED_APPS = (
#     'staticinline',
#     'django.contrib.staticfiles',
#     'django.contrib.sessions',
#     'dpaste.settings.local.MyBetterDpasteAppConfig',
# )
