{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block body_type %}text-page{%endblock %}

{% block page %}
  <article>
    
    <h2 class="first-item">{% trans "About dpaste" %}</h2>

    <p>
      This site is powered by dpaste, an <strong>open source</strong>
      <a href="https://en.wikipedia.org/wiki/Pastebin">pastebin</a> application.
      You can find the source code, contribute to it or leave feedback
      <a href="https://github.com/bartTC/dpaste">on Github</a>.
    </p>
    <p>
      dpaste provides an <strong>API</strong> to easily paste snippets out of
      your shell or editor.
      See the <a href="https://github.com/bartTC/dpaste/wiki">dpaste wiki</a>
      for the API documentation and a list of available plugins.
    </p>
      
  </article>
{% endblock %}
