{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}

{% block page %}
  <article class="content-page">

    <h2>{% trans "About dpaste" %}</h2>

    <p>
      This site is powered by dpaste, an <strong>open source</strong>
      <a href="https://en.wikipedia.org/wiki/Pastebin">pastebin</a> application.
      You can find the source code, contribute to it or leave feedback
      <a href="https://github.com/bartTC/dpaste">on Github</a>.
    </p>
    <p>
      dpaste provides an <strong>API</strong> to easily paste snippets out of
      your shell or editor.
      See the <a href="https://github.com/bartTC/dpaste/wiki">dpaste wiki</a>
      for the API documentation and a list of available plugins.
    <p>
      This service is free of charge. I don't place any ads on
      this site neither do I use any external services such as Google Analytics,
      which could spy on your data and behavior. If you like this service and
      use it regularly, please consider sending me a <strong>Postcard</strong> of your area or
      hometown as a little thank you. You'll find my post address below.
    </p>
    <p>
      <strong>All snippets can be deleted by everyone!</strong>
      Click the "Delete Now" link
      on the related snippet page. If you deleted a snippet due to legal
      issues, please let me know. I like to keep track of this and prevent
      it in first place.
    </p>

    <p>
      <strong>Address:</strong><br/><br/>
      Martin Mahner<br/>
			Muehlenstr. 31<br/>
			18439 Stralsund<br/>
			Deutschland
    </p>

    <p>
      <strong>E-Mail:</strong>
      <a href="mailto:martin+dpaste@mahner.org">martin+dpaste@mahner.org</a>
    </p>

  </article>
{% endblock %}
