{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "dpaste/dpaste.css" %}"/>
  {% block extrahead %}{% endblock %}
</head>
<body>


<header class="box">
  <h1>{% block headline %}{% endblock %}</h1>
  <nav>
    <a href="{% url "dpaste_about" %}">{% trans "About" %}</a>
    <a href="{% url "snippet_history" %}">{% trans "History" %}</a>
    <a href="{% url "snippet_new" %}">{% trans "New snippet" %} &rarr;</a></li>
  </nav>
</header>

{% block page %}
  PAGE MISSING
{% endblock %}

{% block script_footer %}
  <script>
    let af = document.querySelector(".autofocus textarea");
    if (af !== null)
      af.focus();

    let se = document.querySelector(".superenter textarea");
    if (se !== null) {
      se.onkeydown = function (e) {
        let metaKey = navigator.appVersion.indexOf("Win") !== -1 ? e.ctrlKey : e.metaKey;
        if (e.keyCode === 13 && metaKey) {
          document.querySelector(".snippet-form").submit();
          return false;
        }
      }
    }
  </script>
{% endblock %}

</body>
</html>
