{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}{% trans "Snippet History" %}{% endblock %}

{% block options %}
  <ul id="snippetOptions">
    <li>{% trans "Snippet History" %}</li>
    {% if snippet_list %}
    <li class="sep"></li>
    <li><a href="#delete">{% trans "Delete all Snippets" %}</a></li>
    <li>
      {# Wordwrap is enabled by default for all lexer in the history #}
      <label for="wordwrap">
        <input type="checkbox" id="wordwrap" checked> Wordwrap
      </label>
    </li>
    {% endif %}
  </ul>

  <div id="delete" class="confirm-modal">
    <form method="POST" action="">
      {% csrf_token %}
      {% blocktrans count snippet_list|length as count %}
        Do you really want to delete the snippet below?
      {% plural %}
        Do you really want to delete the {{ count }} snippets below?
      {% endblocktrans %}
      <button class="btn" name="delete" value="1" type="submit">{% trans "Yes, Delete All" %}</button>
      <a href="#" class="no">{% trans "No, don't delete" %}</a>
    </form>
  </div>
{% endblock %}

{% block page %}
    {% for snippet in snippet_list %}
      <h3 class="history-header">
        <a href="{{ snippet.get_absolute_url }}">{% blocktrans with snippet.lexer_name as type %}{{ type }} Snippet{% endblocktrans %}</a>
        <span class="sep"></span>
        {% blocktrans with snippet.published|timesince as since %}Created {{ since }} ago{% endblocktrans %}
      </h3>

      {{ snippet.highlight }}

    {% empty %}
      <p class="history-empty">
        {% trans "No snippets saved. Either all your snippets are expired or your cookie has changed." %}</p>
    {% endfor %}
{% endblock %}
