{% load i18n %}

<form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {{ snippet_form.non_field_errors }}
    <div style="display: none;">{{ snippet_form.title }}</div>

    <div class="
        control-group
        form-content
        {% if is_new %}autofocus{% endif %}
        {% if snippet_form.content.errors %}error{% endif %}
    ">
        {{ snippet_form.content }}
    </div>

    <div class="control-group form-options">
        <div class="form-options-lexer
            {% if snippet_form.lexer.errors %}control-group error{% endif %}">
            <div class="input-append">
                {{ snippet_form.lexer }}
            </div>
            {% for error in snippet_form.lexer.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-options-expire">
            {{ snippet_form.expire_options.errors }}
            <div class="input-prepend">
                <span class="add-on"><i class="icon-trash" title="{% trans "Expire in" %}"></i></span>
                {{ snippet_form.expire_options }}
            </div>
        </div>
    </div>
    <div class="form-actions">
        {% if is_new %}
        <div class="twitter-follow-button-container">
            <a href="https://twitter.com/bartTC" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @bartTC</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        {% endif %}
        <input tabindex="0" type="submit"class="btn btn-primary" value="{% trans "Paste it" %}">
    </div>
</form>