{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}{% trans "Snippet History" %}{% endblock %}
{% block headline %}{% trans "Snippet History" %}{% endblock %}

{% block page %}
  <dl class="snippet-list">
    {% for snippet in snippet_list %}
      <dt>
        <a title="{{ snippet.published|date:_("DATETIME_FORMAT") }}"
           href="{{ snippet.get_absolute_url }}">
          {% blocktrans with snippet.published|timesince as since %}{{ since }}
            ago{% endblocktrans %}
        </a>
      </dt>
      <dd>
        {{ snippet.excerpt }}
      </dd>
    {% empty %}
      <dt>{% trans "No snippets saved. Either all your snippets are expired or your cookie has changed." %}</dt>
    {% endfor %}
    <dt><a href="?delete-all">{% trans "Delete all your snippets" %}</a>
    </dt>
  </dl>

{% endblock %}
