{% extends "dpaste/base.html" %}

{% load i18n %}

{% block title %}{{ request.META.SERVER_NAME }}/{{ snippet.secret_id }}{% endblock %}
{% block headline %}
    <input type="text" value="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block page %}

      <!-- ======================================================================
    Snippet Options
    ======================================================================= -->
    <div class="snippet-options">
        <span>
            {% if snippet.expire_type == 1 %}
                {% blocktrans with date=snippet.expires|timeuntil %}Expires in: {{ date }}{% endblocktrans %}
            {% elif snippet.expire_type == 2 %}
                {% trans "Snippet never expires" %}
            {% elif snippet.expire_type == 3 %}
                {% trans "One-Time snippet" %}
            {% endif %}
        </span>

        <a href="{% url "snippet_delete" snippet.secret_id %}"
           onclick="return confirm('{% trans "Really delete this snippet?" %}');">{% trans "Delete Now" %}</a>

        {% if snippet.parent %}
        <a href="#snippet-diff">{% trans "Compare with previous Snippet" %}</a>
        {% endif %}

        {% if snippet.expire_type != 3 %}
        <a href="{% url "snippet_details_raw" snippet.secret_id %}">{% trans "View Raw" %}</a>
        {% endif %}

        {% if snippet.lexer != 'text' %}
        <a href="#" id="toggleWordwrap">Wordwrap</a>
        {% endif %}
    </div>


    {% if snippet.expire_type == 3 %}
    <p class="message">
        {% trans "This is a one-time snippet." %}
        {% if snippet.remaining_views > 1 %}
            {% blocktrans with remaining=snippet.remaining_views %}It is automatically removed after {{ remaining }} further views.{% endblocktrans %}
        {% elif snippet.remaining_views == 1 %}
            {% trans "It is automatically removed after the next view." %}
        {% else %}
            {% trans "It cannot be viewed again." %}
        {% endif %}
    </p>
    {% endif %}

    <!-- ======================================================================
    Snippet
    ======================================================================= -->
    {% if snippet.lexer == 'text' %}
      <div class="snippet-text">{% include "dpaste/highlight/text.html" %}</div>
    {% else %}
      <div class="snippet-code">{% include "dpaste/highlight/code.html" %}</div>
    {% endif %}

    <!-- ======================================================================
    Snippet Reply
    ======================================================================= -->
    <div class="snippet-reply" data-hidden="yes">
        <h2 class="box">{% trans "Reply to this snippet" %} &rarr;</h2>
        {% include "dpaste/snippet_form.html" %}
    </div>
{% endblock %}


{% block script_footer %}
{{ block.super }}
<script>
  let reply = document.querySelector('.snippet-reply');
  reply.onclick = function(e) {
    this.dataset.hidden = "no";
  };

  document.getElementById('toggleWordwrap').onclick = function(e) {
    e.preventDefault();
    document.querySelector('.snippet-code').classList.toggle('wordwrap');
  };

  // Line Highlighting
  let curLine = document.location.hash;
  if (curLine.startsWith('#L')) {
    hashlist = curLine.substring(2).split(',');
    if (hashlist.length > 0 && hashlist[0] !== '') {
      hashlist.forEach(function(el) {
        let line = document.getElementById(`l${el}`);
        if (line)
          line.classList.add('marked');
      });
    }
  }

  let lines = document.querySelectorAll('.snippet-code li');
  lines.forEach(function(el){
    el.onclick = function(e) {
      el.classList.toggle('marked');
      let hash = 'L';
      let marked = document.querySelectorAll('.snippet-code li.marked');
      marked.forEach(function(line){
        if (hash !== 'L')
          hash += ',';
        hash += line.getAttribute('id').substring(1);
      });
      window.location.hash = hash;
    }
  });
</script>
{% endblock %}
