{% extends "dpaste/base.html" %}

{% load i18n %}
{% load dpaste_tags %}

{% block title %}Snippet History{% endblock %}
{% block headline %}Snippet History{% endblock %}
{% block dpaste_nav_history %}active{% endblock %}
{% block page %}

    <hr>

    {% for snippet in snippet_list %}
    <h4 style="{% if not forloop.first %}margin-top: 50px;{% endif %}">
        <a title="{{ snippet.published|date:_("DATETIME_FORMAT") }}" href="{{ snippet.get_absolute_url }}">
            {% blocktrans with snippet.published|timesince as since %}{{ since }} ago{% endblocktrans %}
        </a>
    </h4>
    {% include "dpaste/snippet_pre.html" %}
    {% empty %}
    <div>
        <p>{% trans "No snippets saved. Either all your snippets are expired or your cookie has changed." %}</p>
    </div>
    {% endfor %}

    <hr/>
    <div>
        <p><a href="?delete-all">Delete all your snippets.</a></p>
    </div>
{% endblock %}
