/*

      Generic Content pages such as about or 404 error pages.

 */

article {
  padding: 40px $boxPadding;

  font-size: 16px;
  font-weight: $baseFontRegular;
  line-height: 24px;

  max-width: 520px;

  color: $textColor;

  h2 {
    font-size: 28px;
    line-height: 36px;
    margin: 0 0 30px 0;
  }

  p {
    margin: 30px 0;
  }

  strong, b {
    font-weight: $baseFontDemiBold;
  }

  a:link, a:visited {
    color: $linkColor;
    text-decoration: underline;
    text-decoration-color: lighten($linkColor, 30%);
  }

  a:hover, a:active {
    color: $hoverColor;
    text-decoration: underline;
  }
}
