// -----------------------------------------------------------------------------
// About Page

.page {
  padding: $desktopBoxPadding;
  background-color: white;

  color: #444;

  table th {
    text-align: left;
  }
}
