// -----------------------------------------------------------------------------
// Snippet Form

.snippet-form {
}

// -----------------------------------------------------------------------------
// The main form textarea

.form-content {
  background-color: white;
  padding: 1rem 1rem;

  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 25rem;
    font-family: $codeFont;
    font-size: .8rem;
    border: 1px solid #bbb;
    padding: 1rem;
    transition: border .5s linear;

    &:focus {
      outline: none;
      border-color: #3fca6e;

    }
  }
}

// -----------------------------------------------------------------------------
// Additional options; lexer and expiration

.form-options {
  padding: $desktopBoxPadding;
  display: flex;
  justify-content: space-between;
  font-size: .9rem;

  .form-options-lexer {
  }
  .form-options-expire {
  }
}

// -----------------------------------------------------------------------------
// Submit line

.form-actions {
  padding: $desktopBoxPadding;
  background-color: white;

  .shortcut {
    font-size: .9rem;
    color: #888;
    letter-spacing: 1px;
  }

  input[type=submit] {
    color: white;
    background-color: rgb(109, 163, 217);
    border: none;
    padding: .6em 1em;
    font-weight: 500;
    font-family: "SF Mono", "Fira Mono", monospace;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background: rgb(96, 139, 192);
    }
  }
}
