// -----------------------------------------------------------------------------
// Snippet History List

.snippet-list {
  padding: $desktopBoxPadding;

  dt:not(:first-child) {
    margin-top: 1rem;
  }
  dt:last-child {
    margin-top: 2rem;
  }

  dd {
    font-family: $codeFont;
    font-size: .9rem;
  }
}
