
/* ----------------------------------------------------------------------------
   Basics
---------------------------------------------------------------------------- */

body {
    padding: 10px 0 40px 0;
}

tt strong {
    background-color: #ffe699;
    outline: 3px solid #ffe699;
}

.news {
    max-width: 400px;
    color: #999;
    font-size: 12px;
    line-height: 18px;
}

.news h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.news p {
    margin: 5px 0 10px;
}

.message {
    margin: 0;
    padding: 10px 30px;
    background-color: gold;
    text-shadow: 0 1px 0 #ffea90;
}

/* Custom container */
.container-fluid {
    margin: 0 auto;
    padding: 0;
}

.container-fluid > div,
.container-fluid > header,
.container-fluid > form,
.container-fluid > h2,
.container-fluid > h3,
.container-fluid > h4 {
    padding: 0 30px;
}

.row-fluid {
    width: auto;
}

.container > hr {
    margin: 20px 0;
}

.headline{
    color: #5393b4;
}

input.headline-url {
    font-size: 20px;
    height: 40px;
    width: 210px;
    color: #5393b4;
    border: none;
    box-shadow: none;
}

button.btn.headline-url-copy {
    margin-top: -4px;
    padding: 5px 10px 3px 10px;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

/* ----------------------------------------------------------------------------
   Snippet form
---------------------------------------------------------------------------- */
#id_content{
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    font-family: monospace;
    font-size: 12px;
    line-height: 16px;
    border-radius: 0;
}

.form-options-lexer {
    float: left;
}

.form-options-expire {
    float: right;
}

.form-options-expire .add-on{
    border-radius: 4px !important;
    margin-right: 3px;
}

.form-horizontal .form-actions {
    padding-left: 20px;
}

.twitter-follow-button-container {
    float:right;
    opacity: 0.5
}
.twitter-follow-button-container:hover{
    opacity: 1;
}

.shortcut {
    color: #AAA;
    font-size: 13px;
    font-weight: 300;
    margin-left: 15px;
}

/* ----------------------------------------------------------------------------
   Snippet Details
---------------------------------------------------------------------------- */
.snippet-options{
    margin-bottom: 20px;
}

.snippet-reply {
    margin-top: 30px;
}

.snippet-reply-hidden {
    opacity: 0.3;
}

.snippet-reply-hidden,
.snippet-reply-hidden *{
    cursor: pointer;
}

.snippet-diff {
    background: #f3f3f3;
    margin-bottom: 30px;
    padding: 1em 1em 0 1em;
    border-radius: 4px;

    display: none;
}

.snippet-rendered {
    color: #666;
    font-size: 16px;
    line-height: 24px;
    max-width: 620px;
    font-family: Helvetica, FreeSerif, serif;
    font-weight: 300;
}

div.tree{
    margin: 0 0 15px 0;
    line-height: 1.8em;
}

div.tree ul,
div.tree ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}

div.tree ul li{
    clear: both;
}

div.tree ul li div{
    border-bottom: 1px solid #EEE;
}

div.tree span.diff{
    float: right;
}

div.tree strong{
    color: #111;
    font-weight: normal;
}

div.tree ul li li{
    padding-left: 0;
    margin-left: 15px;
    color: #ccc;
    list-style: circle;
}

div.tree div.submit{
    margin: 8px 0 0 0;
    text-align: right;
}

div.tree div.submit input{
    font-size: 0.8em;
}

/* ----------------------------------------------------------------------------
   .code
---------------------------------------------------------------------------- */

.code {
    background: #232829;
    color: #f8f8f2;
    padding: 20px 30px !important;
    border-radius: 0;
    padding: 20px 30px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.code.wordwrap {
    overflow: auto;
    white-space: nowrap;
}

.code ol {
    margin: 0 0 0 45px;
}

.code ol li {
    color: #aaa;
    font-size: 12px;
    line-height: 21px;
    cursor: pointer;
    padding-left: 5px;
}

.code ol li.marked {
    color: #f4e009;
    background-color: #4f4800;
    margin-right: -30px;
    padding-right: 30px;
}

/* ----------------------------------------------------------------------------
   Pygments
---------------------------------------------------------------------------- */

.code .gd { background-color: rgba(226, 12, 19, .3); color: #fff; display: block; }
.code .gi { background-color: rgba(23, 189, 10, .2); color: #fff; display: block; }

.code .hll { background-color: #49483e }
.code .c { color: #75715e } /* Comment */
.code .err { color: #960050; background-color: #1e0010 } /* Error */
.code .k { color: #66d9ef } /* Keyword */
.code .l { color: #ae81ff } /* Literal */
.code .n { color: #f8f8f2 } /* Name */
.code .o { color: #f92672 } /* Operator */
.code .p { color: #f8f8f2 } /* Punctuation */
.code .cm { color: #75715e } /* Comment.Multiline */
.code .cp { color: #75715e } /* Comment..codeproc */
.code .c1 { color: #75715e } /* Comment.Single */
.code .cs { color: #75715e } /* Comment.Special */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .kc { color: #66d9ef } /* Keyword.Constant */
.code .kd { color: #66d9ef } /* Keyword.Declaration */
.code .kn { color: #f92672 } /* Keyword.Namespace */
.code .kp { color: #66d9ef } /* Keyword.Pseudo */
.code .kr { color: #66d9ef } /* Keyword.Reserved */
.code .kt { color: #66d9ef } /* Keyword.Type */
.code .ld { color: #e6db74 } /* Literal.Date */
.code .m { color: #ae81ff } /* Literal.Number */
.code .s { color: #e6db74 } /* Literal.String */
.code .na { color: #a6e22e } /* Name.Attribute */
.code .nb { color: #f8f8f2 } /* Name.Builtin */
.code .nc { color: #a6e22e } /* Name.Class */
.code .no { color: #66d9ef } /* Name.Constant */
.code .nd { color: #a6e22e } /* Name.Decorator */
.code .ni { color: #f8f8f2 } /* Name.Entity */
.code .ne { color: #a6e22e } /* Name.Exception */
.code .nf { color: #a6e22e } /* Name.Function */
.code .nl { color: #f8f8f2 } /* Name.Label */
.code .nn { color: #f8f8f2 } /* Name.Namespace */
.code .nx { color: #a6e22e } /* Name.Other */
.code .py { color: #f8f8f2 } /* Name.Property */
.code .nt { color: #f92672 } /* Name.Tag */
.code .nv { color: #f8f8f2 } /* Name.Variable */
.code .ow { color: #f92672 } /* Operator.Word */
.code .w { color: #f8f8f2 } /* Text.Whitespace */
.code .mf { color: #ae81ff } /* Literal.Number.Float */
.code .mh { color: #ae81ff } /* Literal.Number.Hex */
.code .mi { color: #ae81ff } /* Literal.Number.Integer */
.code .mo { color: #ae81ff } /* Literal.Number.Oct */
.code .sb { color: #e6db74 } /* Literal.String.Backtick */
.code .sc { color: #e6db74 } /* Literal.String.Char */
.code .sd { color: #e6db74 } /* Literal.String.Doc */
.code .s2 { color: #e6db74 } /* Literal.String.Double */
.code .se { color: #ae81ff } /* Literal.String.Escape */
.code .sh { color: #e6db74 } /* Literal.String.Heredoc */
.code .si { color: #e6db74 } /* Literal.String.Interpol */
.code .sx { color: #e6db74 } /* Literal.String.Other */
.code .sr { color: #e6db74 } /* Literal.String.Regex */
.code .s1 { color: #e6db74 } /* Literal.String.Single */
.code .ss { color: #e6db74 } /* Literal.String.Symbol */
.code .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.code .vc { color: #f8f8f2 } /* Name.Variable.Class */
.code .vg { color: #f8f8f2 } /* Name.Variable.Global */
.code .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.code .il { color: #ae81ff } /* Literal.Number.Integer.Long */


/* ----------------------------------------------------------------------------
   Mobile
---------------------------------------------------------------------------- */

@media (max-width: 580px) {
    .form-options-expire {
        float: left;
        clear: left;
        margin-top: 10px;
    }
}
